# --- General Settings ---
TZ=Europe/Istanbul
CRON_MIN=15,45
FRESHRSS_PORT=1234

# --- Reverse Proxy (For your future Nginx/Cloudflare setup) ---
# Set this to your local network range or the Nginx container's IP
TRUSTED_PROXY=192.168.20.0/24
BASE_URL=https://rss.your-domain.com

# --- Admin Credentials (Used for Auto-Install) ---
ADMIN_USER=username
ADMIN_PASS=yourPW
ADMIN_EMAIL=email@email.com
ADMIN_API_PASS=API_PW