global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'pve01'
    scheme: https
    tls_config:
      insecure_skip_verify: true
    bearer_token: "{{ pve01_prom_api_token }}"
    metrics_path: '/api2/json/cluster/metrics/prometheus'
    static_configs:
      - targets: ['pve01:8006']  # Replace PVE01_IP with pve01 address